/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.circle-img {
  border: 1px solid #003459;
  border-radius: 50%;
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  color: #003459;
  font: bold;
}

.social-media-list {
  display: inline;
  list-style: none;
  margin-left: 0;
}

.highlight {
  text-decoration: underline;
  color: #007EA7;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-center-text {
  text-align: center;}

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
