
/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  color: black;
  font: bold;
}

.highlight {
  text-decoration: underline;
  color: grey;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-center-text {
  text-align: center;}
