---
layout: default
title: Contact
---

<div class="row">
    <h1 class="u-center-text"> <b>t</b>eng.<b>da</b>.<b>y</b>ang </h1>
</div>
<div class="row">
</br>
    <div class="u-center-text">
        <img src="http://placehold.it/200x200" style="border-radius: 50%">
    </div>
</div>
<div class="row">
</br>
<p>
Bavaria ipsum dolor sit amet g’hupft wia gsprunga wolln dringma aweng oba Biazelt hogg di hera helfgod. Sog i hawadere midananda nomoi a bissal wos gehd ollaweil gor kumm geh naa jo leck mi, Xaver: Weiznglasl i hob di liab des muas ma hoid kenna.
</p>
</div>

<div class="row">
</br>
    <div class="u-center-text">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
    </div>
</div>
