---
layout: default
title: Contact
permalink: contact
---

<div class="row">
    <h1 class="u-center-text"> <b>t</b>eng.<b>da</b>.<b>y</b>ang </h1>
</div>
<div class="row">
</br>
    <div class="u-center-text">
        <img src="images/contact2.jpg" class="circle-img" 
                style="max-width:200px; max-height:200px">
    </div>
</div>
<div class="row">
</br>
<p>
Hi there! My name is Teng Da Yang, but most people call me Alan. This is my personal site where I'm journaling my photography and side projects. 
</p>
</div>

<div class="row">
</br>
    <div class="u-center-text">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
    </div>
</div>
