<div class="row">
    <h1> <a class="logo" href={{site.url}}> {{site.title}} </a> </h1>
</div>

<div class="row">
    <ul class="links" style="font-weight: bold">
        {% for node in site.pages %}
            {% if node.title and node.layout == "preview" %}
                <li> 
                    <a href="{{node.url}}"
                    {% if page.url == node.url %}
                        class="highlight"
                    {% endif %}> 
                        {{node.title}} 
                    </a> 
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="links" style="font-size: 80%">
        {% for node in site.pages %}
            {% if node.title and node.layout == "default" %}
                <li> 
                    <a href="{{node.url}}"
                    {% if page.url == node.url %}
                        class="highlight"
                    {% endif %}> 
                        {{node.title}} 
                    </a> 
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
